<!DOCTYPE html>
<html>
    <head> 
        <script src=""></script>
        <!-- 引入样式 -->
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <!-- 引入组件库 -->
        <script type="text/javascript" src="https://unpkg.com/element-ui/lib/index.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/aff_main.css">
        <script type="text/javascript" src="../js/aff_main.js"></script>
    </head>
    <body>
        <div id="top_pannel" class="topdiv">
            <button type="button" class="button1" onclick="jump1()">keh</button>
            <img class="button1" src="../assets/logo.png" onclick="jump1()">
        </div>
        <div id="left_" class="leftdiv">22</div>
        <div id="table_cont"  class="rightdiv">333
            
        </div>
    </body>
</html>