.topdiv{
    width: 100%;
    height: 50px;
    background-color: white;
    text-align: center;
    overflow: hidden;
    border-top: 1px solid  black;
    border-bottom: 1px solid  black;
    border-left: 1px solid  black;
    border-right: 1px solid  black;
    background-image: url(../assets/logo.png) no-repeat;
    background-size: cover;
}
.leftdiv{
    width: 10%;
    height: 700px;
    position: relative;
    top: 1px;
    float: left;
    background-color: white;
    text-align: center;
    border-top: 1px solid  black;
    border-bottom: 1px solid  black;
    border-left: 1px solid  black;
    border-right: 1px solid  black;
    background-image: url(../assets/logo.png) no-repeat;
    background-size: cover;
}
.rightdiv{
    width: 89.6%;
    height: 700px;
    position: relative;
    float: right;
    top: 1px;
    background-color: white;
    text-align: center;
    border-top: 1px solid  black;
    border-bottom: 1px solid  black;
    border-left: 1px solid  black;
    border-right: 1px solid  black;
    background-image: url(../assets/logo.png) no-repeat;
    background-size: cover;
}
.button1{
    position: relative;
    float: right;
    right: 10px;
    width: 40;
    height: 50;
}